:root {
    --primary-text-color: #6B68EC;
    --secondary-text-color: #484855;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background: #FBFDFF;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.img {
    margin-top: 98px;
    margin-bottom: 36px;
}

.title {
    color: var(--primary-text-color);
    font-size: 95px;
    font-weight: 800;
    margin: 0;
}

.text {
    color: var(--secondary-text-color);
    font-size: 22px;
    font-weight: 600;
    margin: 24px 0;
    line-height: 1.8;
}

.btn {
    --bg: #1C1C25;
    --w: 364px;
    --h: 100px;
    --bdrs: 30px;
    --hover-bg: #6B68EC;

    width: var(--w);
    height: var(--h);
    border-radius: var(--bdrs);
    background: var(--bg);
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 40px 0;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--hover-bg);
}

.btn-red {
    --bg: #b93737;
    --hover-bg: #a32828;
}

.btn-blue {
    --bg: #3150a5;
    --hover-bg: #223a7e;
}

.btn-sm {
    --w: 344px;
    --h: 80px;
}

.btn-lg {
    --w: 384px;
    --h: 120px;
}

.btn-icon {
    --w: var(--h);
}

.btn-round {
    --bdrs: 100px;
}

.btn-square {
    --bdrs: 0px;
}